<h1><%= @user.name =%></h1>
Last Name:
<%= @user.last_name =%>
<br></br>
Date of birth: 
<%=@user.dob =%>
<br></br>
Contact no:
<%=@user.contact =%>
<br></br>
Email:
<%=@user.email =%>
<br></br>
<%= @user.message =%>

<%= link_to "Destroy", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
